<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pankaj.new_additem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ForUserOffline"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="LendIt"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Collection List" />
        <activity
            android:name=".Post_Item"
            android:label="Post Item" />
        <activity
            android:name=".RegisterActivity"
            android:label="RegisterPage" />
        <activity
            android:name=".LoginActivity"
            android:label="LoginPage" />
        <activity android:name=".SetupAccountActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".UserListActivity"
            android:label="Chats" />
        <activity android:name=".SendActivity" />

        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".NotificationsActivity">
            <intent-filter>
                <action android:name="com.example.pankaj.new_additem.TARGETNOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainPageActivity"
            android:label="HomePage" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search_ItemActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".IdCardShowActivity" />
        <activity
            android:name=".MainPageNActivity"
            android:label="Home Page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificationMessageActivity"
            android:label="Notifications" />
        <activity
            android:name=".FeedbackActivity"
            android:label="Feedback Page"></activity>
        <activity android:name=".AboutUsActivity"
            android:label="About us"></activity>
    </application>

</manifest>